.wrapper{
	width:60% ;
	margin:0 auto ;
	border:1px solid;
}

lable{
	font-size: 20px;
}

.first-name,.last-name,{
	width:90% ;
	height:20px ;
	padding:10px ;
	font-size:15px ;
}

}

.mobile-number{
	width:90% ;
	height:20px ;
	padding:15px ;
	font-size:15px ;
}

.date-of-birt{
	padding:10px ;
	font-size: 15px;
}

.password{
	font-size: 15px
color="red"
}
.message{
	font-size:18px ;
	padding:10px ;

}

table{
	
	width:50% ;
	border: 5px dashed darkblue;
}

th,td{

	font-size:20px ;
	text-align:center ;
	border: 5px dashed darkblue;
	background: blue;
}
